  
<!-- Topo -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  
<div class="container"> 
  <div class="row">
    <div class="col-6" >
        <img style="margin-right: 200px;" id="logo" src="assets/icons/logo2.0.png" alt="Logo Monkey" />
    </div>
    <div class="col-6">
        <h1 class="destaque"></h1>
        <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-container w3-center">
          <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">Species Monkey </h1>
          <h5 class="w3-hide-large" >Monkey </h5>
        </div>
    </div>
  </div>
</div>
</header>
<!-- Menu -->
<div class="container">
  
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link  active" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]= "['category/list']" >Categoria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link "  [routerLink]= "['category/form']" >Formulario</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
               <a class="nav-link" href="#">Pesquisa</a>
            </form>
          </div>
        </nav>
  
</div>
<!-- End Menu -->

<!-- Menu Vertical-->
<div class="container" id="conteudo-fullscreen">
  <div class="row">
    <div class="col-2">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
    </div>
    <div class="col-10">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
        
      </div>
  </div>
  <!-- End Menu-->
  
  <!-- Conteudo -->
  
  
  </div>
  <!-- End Conteúdo -->
  <!-- Rodape -->
  <footer style="margin-top: 20%;" class="w3-center w3-black w3-padding-16">
      <p style="color: white"><b><i>2018 - Todos direitos reservados</i></b></p>
</footer>
  
  
  
  